* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

@font-face {
    src: url("./MadHacker.ttf");
    font-family: "MadHacker";
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MadHacker';
  color: white;
  font-size: 3rem;
  min-height: 100vh;
}